{% extends 'base_index.html' %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="row">
                <article>
                    <header class="text-center mb-7">
                        <p class="small-4 text-lighter text-uppercase ls-2 fw-600">Artykuły</p>
                        <h3>Przeczytaj nasze artykuły</h3>
                    </header>
                    <div class="row">
                        {% for article in articles %}
                            <div class="card-body d-flex flex-column col-md-4">
                                <a href="{% url 'articles-details' article.pk %}"><img class="rounded-md" src="{{ article.cover.url }}" alt="..." style="height: 350px; width: 350px;"></a>
                                <div class="row mb-5 small-2 text-lighter">
                                    <div class="col-auto">
                                        <a class="text-inherit" href="{% url 'authors-details' article.author.pk %}">{{ article.author.name }} {{ article.author.surname }}</a>
                                        <span class="align-middle px-1">•</span>
                                        <time datetime="2018-05-15T19:00">{{ article.date }}</time>
                                    </div>
                                    <div class="col-auto ml-auto">
                                        <p>{{ article.act }}</p>
                                    </div>
                                </div>
                                <h3 class="text-center">{{ article.title }}</h3>
                                <p class="text-justify mb-6">{{ article.description }}</p>
                                <p class="text-center mt-auto">
                                    <a class="btn btn-info btn-round" href="{% url 'articles-details' article.pk %}">Czytaj</a>
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </article>
            </div>
        </div>
    </section>
{% endblock %}
